<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.CustMapper">
    <!-- 이메일로 조회 -->
    <select id="select" parameterType="String" resultType="cust">
        SELECT * FROM cust WHERE custEmail=#{custEmail}
    </select>
    <!-- 이메일로 조회 (소셜로그인에서 사용) -->
    <select id="findByEmail" parameterType="String" resultType="cust">
        SELECT * FROM cust WHERE custEmail=#{custEmail}
    </select>
    <!-- 모든 유저 추출 -->
    <select id="selectall" resultType="cust">
        SELECT * FROM cust
    </select>
    <!-- 사진 이미지 -->
    <update id="updateCustImgName" parameterType="cust">
        UPDATE cust SET custImgName = #{custImgName}
        WHERE custNo = #{custNo}
    </update>
    <!-- 0이거나 null인 고객이 알림받기 버튼 클릭 시 상태를 1로 변경시키기 : 인보 -->
    <insert id="updateNoti" parameterType="cust">
        UPDATE cust
        SET marketingStatus = '1'
        WHERE custNo = #{custNo}
    </insert>
    <!-- 상태가 1인 마케팅 동의고객이 다시 버튼을 눌러 미동의로 변경하면 9-거절로 상태로 변경시키기 : 인보 -->
    <update id="clearNoti" parameterType="cust">
        UPDATE cust
        SET marketingStatus = CASE
                                  WHEN marketingStatus = '0' THEN '1'
                                  WHEN marketingStatus = '1' THEN '0'
                                  ELSE marketingStatus
            END
        WHERE custNo = #{custNo}
    </update>
    <!-- 다시 상태가 9인 고객이 마케팅동의 버튼 누르면 1-동의로 상태로 변경시키기 : 인보 -->
    <update id="reUpdateNoti" parameterType="cust">
        UPDATE cust
        SET marketingStatus = '1'
        WHERE custNo = #{custNo}
    </update>
    <!-- insert -->
    <insert id="insert" parameterType="cust">
        INSERT INTO cust (custNo, custEmail, custPwd, custName, custPhone, custBirth, custGender, custSido, custSigungu, sportsType,
                          sportsClasstype, custStatus, custSocialmedia, custJoindate, custImgName)
        VALUES (cust_seq.NEXTVAL, #{custEmail}, #{custPwd}, #{custName}, #{custPhone}, #{custBirth}, #{custGender},
        #{custSido}, #{custSigungu}, #{sportsType}, #{sportsClasstype},'1', '0', sysdate,'workout.png')
    </insert>
    <!-- insert : social 전용 -->
    <insert id="insert_social" parameterType="cust">
        INSERT INTO cust (custNo, custEmail, custName, custStatus, custSocialmedia, custSnstype, custJoindate, custImgName)
        VALUES (cust_seq.NEXTVAL, #{custEmail}, #{custName}, '1', '1', '구글', sysdate, 'workout.png')
    </insert>
    <!-- update (비밀번호와 관심컬럼은 다른 함수로) -->
    <update id="update" parameterType="cust">
        UPDATE cust SET custName=#{custName}, custPhone=#{custPhone}, custBirth=#{custBirth},
                        custGender=#{custGender}, custSido=#{custSido}, custSigungu=#{custSigungu},
                        sportsType=#{sportsType}, sportsClasstype=#{sportsClasstype}
        WHERE custEmail=#{custEmail}
    </update>
    <!-- update : social 전용 (비밀번호와 관심컬럼은 다른 함수로) -->
    <update id="update_social" parameterType="cust">
        UPDATE cust SET custPhone=#{custPhone}, custBirth=#{custBirth}, custGender=#{custGender},
                        custSido=#{custSido}, custSigungu=#{custSigungu}, sportsType=#{sportsType}, sportsClasstype=#{sportsClasstype}
        WHERE custEmail=#{custEmail}
    </update>
    <!-- update : social 전용 (비밀번호와 관심컬럼은 다른 함수로) -->
    <update id="update_social_name" parameterType="cust">
        UPDATE cust SET custName=#{custName}
        WHERE custEmail=#{custEmail}
    </update>
    <!-- 이메일로 삭제 -->
    <delete id="delete" parameterType="cust">
        DELETE FROM cust WHERE custEmail=#{custEmail}
    </delete>
    <update id="updateInfo" parameterType="cust">
        UPDATE cust SET custPhone=#{custPhone},
                       custSido=#{custSido}, custSigungu=#{custSigungu},
                        sportsType=#{sportsType}, sportsClasstype=#{sportsClasstype}
        WHERE custEmail=#{custEmail}
    </update>
    <update id="updatePwd" parameterType="cust">
        UPDATE cust SET custPwd = #{custPwd}
        WHERE custEmail=#{custEmail}
    </update>
    <!-- 회원가입시 생성된 custNo 가져오기 -->
    <select id="getGeneratedCustNo" resultType="Integer">
        SELECT MAX(custno) FROM cust
    </select>
</mapper>