<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.MyMachineMapper">

    <!-- 로그인한 회원이 즐겨찾기한 나의 운동기구 가져오기 -->
    <select id="getmymachine"  resultType="mymachine">
        SELECT mm.custNo, mm.gymNo, mm.machineNo,
               gm.machineName, gm.machineImgname, gm.holdingQuantity, gm.usingQuantity
        FROM mymachine mm
                 JOIN GYMMACHINE gm ON mm.machineNo = gm.machineNo
        WHERE mm.custNo = #{custNo}
          AND mm.myMachineStatus = '1'
    </select>

    <!-- 수정가능한 항목 1가지. : 회원이 별 다시 누르거나, 해제버튼 누르면. -->
    <update id="update" parameterType="mymachine">
        UPDATE mymachine SET myMachineStatus = '0'
        WHERE custNo=#{custNo}
        AND machineNo=#{machineNo}
    </update>
<!-- 즐겨찾기 등록. 기존에 등록된 건이 있으면 즐겨찾기 상태를 0으로 바꾸고, 아니면 1로 등록   -->
    <insert id="insert" parameterType="mymachine">
        MERGE INTO mymachine
            USING dual
            ON (custNo = #{custNo} AND machineNo = #{machineNo})
            WHEN NOT MATCHED THEN
                INSERT (custNo, machineNo, gymNo, myMachineStatus)
                    VALUES (#{custNo}, #{machineNo}, #{gymNo}, '1')
            WHEN MATCHED THEN
                UPDATE SET
                    myMachineStatus = '0'
    </insert>
</mapper>