<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.MyMachineMapper">

    <!-- 로그인한 회원이 즐겨찾기한 나의 운동기구 가져오기 -->
    <select id="getmymachine"  resultType="mymachine">
        SELECT mm.myMachineNo, mm.custNo, mm.gymNo, mm.machineNo,
               gm.machineName, gm.machineImgname, gm.holdingQuantity, gm.usingQuantity
        FROM mymachine mm
                 JOIN GYMMACHINE gm ON mm.machineNo = gm.machineNo
        WHERE mm.custNo = #{custNo}
          AND mm.myMachineStatus = '1'
    </select>

    <!-- 수정가능한 항목 1가지. : 회원이 별 다시 누르거나, 해제버튼 누르면. -->
    <update id="update" parameterType="mymachine">
        UPDATE mymachine SET myMachineStatus = '0'
        WHERE myMachineNo=#{myMachineNo}
    </update>
<!-- 즐겨찾기 등록   -->
    <insert id="insert" parameterType="mymachine">
        <selectKey keyProperty="myMachineNo" resultType="int" order="BEFORE">
            SELECT mymachine_seq.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO mymachine (myMachineNo, custNo, gymNo, machineNo, myMachineStatus)
        SELECT #{myMachineNo}, #{custNo}, #{gymNo}, #{machineNo}, '1' FROM DUAL
        WHERE NOT EXISTS (
        SELECT 1 FROM mymachine
        WHERE custNo = #{custNo}
          AND machineNo = #{machineNo}
        )
    </insert>
</mapper>