<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbstar.mapper.MyScheduleMapper">

    <insert id="insert" parameterType="mySchedule">
        INSERT INTO myschedule VALUES (myschedule_seq.NextVAL, #{classNo},
                                       #{purchaseNo}, 0, 0, #{custNo})
    </insert>


</mapper>