<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbstar.mapper.PurchaseMapper">

    <!-- 구매 후 insert : 만료는 1년 뒤 -->
    <insert id="pinsert" parameterType="purchase">
        INSERT INTO purchase
        VALUES (Purchase_seq.NextVAL, #{custNo}, #{ticketNo},
                #{gymNo}, #{sportsType}, #{sportsClasstype},
                #{ticketType}, #{ticketMonth}, #{ticketNumber},
                #{ticketJoin}, '',
                SYSDATE, #{purchasePrice},
                0, '0', SYSDATE+365, '0')
    </insert>

    <!-- purchaseNo로 조회 -->
    <select id="select" parameterType="Integer" resultType="purchase">
        SELECT p.*, g.gymName FROM purchase p
                 LEFT JOIN gym g on p.gymNo = g.gymNo
                 WHERE p.purchaseNo=#{purchaseNo} and g.gymMasterCk = '1'
    </select>

    <!-- 모든 이용권 조회 -->
    <select id="selectall" resultType="purchase">
        SELECT p.*, g.gymName FROM purchase p
                LEFT JOIN gym g on p.gymNo = g.gymNo
                WHERE g.gymMasterCk = '1'
    </select>

    <!-- 나의 사용 가능한 이용권 조회 -->
    <select id="selectallvalid" resultType="purchase" parameterType="Integer">
        SELECT p.*, g.gymName, ( p.ticketNumber - p.usedCnt ) as remaining FROM purchase p
                LEFT JOIN gym g on p.gymNo = g.gymNo
                WHERE p.ticketEx='0' and g.gymMasterCk = '1' and p.custNo=#{custNo}
    </select>

    <!-- 나의 사용 불가능한 이용권 조회 -->
    <select id="selectallinvalid" resultType="purchase" parameterType="Integer">
        SELECT p.*, g.gymName, ( p.ticketNumber - p.usedCnt ) as remaining  FROM purchase p
                LEFT JOIN gym g on p.gymNo = g.gymNo
                WHERE p.ticketEx='1' and g.gymMasterCk = '1' and p.custNo=#{custNo}
    </select>

<!--    <select id="selectcustclass" parameterType="Integer" resultType="class">-->
<!--        SELECT p.custNo, c.*-->
<!--            FROM purchase p-->
<!--            LEFT JOIN class c on p.gymNo = c.gymNo and p.sportsclasstype = c.sportsclasstype-->
<!--            WHERE p.ticketEx='0' and p.custNo=#{custNo}-->
<!--            ORDER BY c.classstarttime-->
<!--    </select>-->

<!--    <select id="selectdayclass" parameterType="cust" resultType="class">-->
<!--        SELECT p.custNo, c.*-->
<!--        FROM purchase p-->
<!--                 LEFT JOIN class c on p.gymNo = c.gymNo and p.sportsclasstype = c.sportsclasstype-->
<!--        WHERE p.ticketEx='0' and p.custNo=#{custNo} and c.classDate=#{classDate}-->
<!--        ORDER BY c.classstarttime-->
<!--    </select>-->

</mapper>