<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.TrainerMapper">
    <select id="allTrainer" resultType="trainer">
        SELECT * FROM trainer
        where gymNo = #{gymNo}
    </select>
</mapper>